html {
    -webkit-text-size-adjust: 100%;
    font-family: ridi-roboto,Apple SD Gothic Neo,"나눔고딕",Nanum Gothic,"돋움",Dotum,Helvetica Neue,arial,sans-serif;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #ebf6ff;
}

/* 상단 배너 */
.header-wrapper {
    border-bottom: 1px solid #d6deeb;
    display: block;
}
.logo-title {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
}


.logo-title a{
    text-decoration: none;
    color: #1f8ce6;
    display: inline-block;
    padding: 10px 14px 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .03em;
}

/* 본문 */
.main {
    width: 360px;
    margin: 0 auto;
    padding: 60px 0 70px;
    display: block;
}

.content-wrapper {
    padding: 24px 10px;
    margin: 0;
}

h2 {
    line-height: 1em;
    margin: 0;
    color: #0077d9;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -.03em;
    padding-bottom: 12px;
}

.content-wrapper .input-group {
    margin-bottom: 10px;
}

.input-group .account-label {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    cursor: pointer;
}

.account-label input {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    letter-spacing: .03em;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 18px;
    overflow: hidden;
    border: 1px solid #d6deeb;
    border-radius: 0;
    background: #fff;
    color: #313538;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    box-shadow: none;
}

.account-label input:focus {
    border: 1px solid #1f8ce6;
}

.account-label input:hover {
    border: 1px solid #1f8ce6;
}

.account-label input:active {
    border: 1px solid #1f8ce6;
}


.findbtn {
    display: block;
    margin-top: 12px;
    padding: 16px 0;
    width: 100%;
    color: #fff;
    background: #1f8ce6;
    border: 1px solid #0077d9;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(31, 140, 230 / 30%);
    border-radius: 4px;
    font-weight: 700;
}

.sendMessage {
    padding-top: 16px;
    font-size: 12px;
    display: block;
    color: #636c73;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
}

.solution {
    padding-top: 9px;
    font-size: 12px;
    display: block;
    margin: 0;
    color: #636c73;
    line-height: 1.5em;
    text-align: center;
}

.solution a {
    margin-left: 3px;
    color: #666;
    text-decoration: none;
    font-weight: 500;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: -.03em;
    cursor: pointer;
}

.solution a:hover {
    background-color: #dfe9df;
    border-radius: 3px;
}