html {
    -webkit-text-size-adjust: 100%;
    font-family: ridi-roboto,Apple SD Gothic Neo,"나눔고딕",Nanum Gothic,"돋움",Dotum,Helvetica Neue,arial,sans-serif;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #ebf6ff;
}

/* 상단 배너 */
.header-wrapper {
    border-bottom: 1px solid #d6deeb;
    display: block;
}
.logo-title {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
}


.logo-title a {
    text-decoration: none;
    color: #1f8ce6;
    display: inline-block;
    padding: 10px 14px 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .03em;
}

/* 본문 */

.account-resetPassword {
    width: 320px;
    padding: 60px 0;
    margin: 0 auto;
}

.account-resetPassword h2 {
    margin: 0;
    padding-bottom: 5px;
    color: #0077d9;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.account-resetPassword .account-form {
    padding: 10px;
}

.form-wrapper .input-group {
    margin-bottom: 10px;
    color: #666;
    font-size: 12px;
    line-height: 1em;
}
label {
    cursor: pointer;
}

.form-wrapper .input-group .newPassword {
    display: block;
    width: 278px;
    height: 18px;
    padding: 16px 10px 11px;
    border: 1px solid #d6deeb;
    border-radius: 4px;
    background: #fff;
    color: #738097;
    font-size: 15px;
    line-height: 1em;
}

.form-wrapper .input-group .checkPassword {
    display: block;
    width: 278px;
    height: 18px;
    padding: 16px 10px 11px;
    border: 1px solid #d6deeb;
    border-radius: 4px;
    background: #fff;
    color: #738097;
    font-size: 15px;
    line-height: 1em;
}

.account-resetPassword .account-form .notice-wrapper{
    padding: 1px 0 3px;
}

.notice-wrapper h4 {
    color: #40474d;
    font-size: 13px;
    font-weight: 700;
    line-height: 2em;
}
.account-resetPassword .account-form .notice-wrapper ul {
    padding-left: 18px;
    margin-top: -16px;
}

.account-resetPassword .account-form .notice-wrapper ul .note {
    color: #40474d;
    font-size: 13px;
    line-height: 1.6em;
}

.account-form button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #0077d9;
    background: #1f8ce6;
    padding: 16px 34px;
    text-align: center;
    line-height: 1em;
    vertical-align: baseline;
    width: 100%;
    cursor: pointer;
}