* {
    margin: 0;
    padding: 0;
}

.header-banner {
    width: 100%;
    background-color: #1f8ce6;
}

.header-banner header {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    padding: 16px 16px 24px 20px;
}

.header-banner nav {
    display: flex;
    flex-direction: column;
}

.header-banner .logo {
    display: flex;
    flex-direction: row;
}

.header-banner .logo .logowrapper {
    flex: none;
    order: 1;
    min-height: 30px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logowrapper .bar, .logowrapper li {
    margin-top: 8px;
}


.logowrapper li svg, .logowrapper .bar svg , .headerlogo svg{
    width: 119px;
    height: 18px;
    fill: white;
}

.logo .bar::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    margin: 0 10px;
    background-color: white;
    opacity: 0.3;
}
.logo .button {
    order: 3;
    margin-left: auto;
}


.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.button li {
    margin-left: 6px;
}

.button .signupbtn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 16px;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    outline: none;
    background-color: #1f8ce6;
    border: 1px solid #99d1ff;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.button .loginbtn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 16px;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
    color: #1f8ce6;
    cursor: pointer;
    text-decoration: none;
}

.search {
    flex: 1;
    max-width: 340px;
    order: 2;
    z-index: 7000;
}

.search .searchbox {
    outline: none;
    width: 340px;
    height: 36px;
    margin-left: 8px;
}


.search label {
    background: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search label svg {
    flex: none;
    color: #808991;
    font-size: 24px;
    margin: 0 4px 0 6px;
    opacity: 0.6;
    width: 24px;
    height: 24px;
}

.search .searchbox input {
    width: 100%;
    height: 36px;
    letter-spacing: -0.03em;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    background: none;
    appearance: none;
}

.search .searchbox input:active {
    border: 0;
}

.mainnav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.mainnav .home, .mainnav .alarm, .mainnav .cart, .mainnav .myridi{
    margin-right: 50px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    height: 36px;
}


.mainnav a {
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.mainnav a:hover {
    cursor: pointer;
    background-color: #3497e8;
    border: 0;
    border-radius: 3px;
    color: #80bef1;
}


.headerlogo svg {
    width: 20px;
    height: 20px;
}

.headerlogo span {
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    line-height: 1;
    top: 1px;
    text-align: center;
    color: #ffffff;
}

.underline {
    border-bottom: 3px solid #99d1ff;
}
/* 본문 */
.main {
  max-width: 952px;
  min-height: 620px;
  margin: 0px auto ;
  padding-top: 8px;
}
.main .header {
  display: flex;
  align-items: center;
}
.main .header h2 {
  display: block;
  margin: 10px 0;
  min-width: 0px;
  color: rgb(48, 53, 56);
  font-size: 18px;
  line-height: 21px;
  font-weight: bolc;
}
.main .header span {
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
  color: rgb(158, 167, 173);
  flex: 0 0 auto;
}
.main .results {
  margin-bottom: 6px;
  list-style-type: none;
}
.main .results li {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.main .results li .wrapper {
  display: flex;
  align-items: center;
}
.main .results li .wrapper span i{
  width: 22px;
  height: 22px;
  flex: 0 0 auto;
  margin-right: 6px;
  color: rgb(209, 213, 217);
  border-radius: 22px;
}
.main .results li .wrapper .content {
  flex: 1 1 0%;
  min-width: 0px;
  display: flex;
  align-items: center;
}
.main .results li .wrapper .content .author {
  flex: 0 0 auto;
  max-width: 100%;
  margin-right: 8px;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4em;
}
.main .results li .wrapper .content .book {
  font-size: 14px;
  color: rgb(128, 137, 145);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: calc(1.2em);
  line-height: 1.2em;
  font-weight: 500;
}
.main .results li button {
  line-height: 22px;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  width: 100%;
  height: 46px;
  color: rgb(99, 108, 115);
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 0;
  background: #fff;

}
.main .subheader {
  display: flex;
  align-items: center;
}
.main .subheader h2 {
  flex: 1 1 0%;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgb(48, 53, 56);
  display: block;
  margin: 10px 0px;
  min-width: 0px;
}
.subheader .noadult {
  display: inline-flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: rgb(99, 108, 115);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}
.subheader .noadult .button {
  display: flex;
    width: 50px;
    height: 30px;
    border: 2px solid rgb(204, 204, 204);
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: rgb(204, 204, 204);
    position: relative;
    margin-left: 4px;
    transform: scale(0.85);  
}
.subheader .noadult .button .round1 {
  -webkit-box-flex: 0;
    flex: 0 1 0px;
    transition: all 0.2s ease 0s;  
}
.subheader .noadult .button .round2 {
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 1em;
    height: 1em;
    border: none;
    border-radius: 0.5em;
    background: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 3px;
    pointer-events: none;
    transition: all 0.2s ease 0s;
    color: rgb(204, 204, 204);  
}
.subheader .noadult .button input {
  display: inline-flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;  
}
.main .genrenav {
  position: relative;
}

.genrenav .navcontent {
  display: flex;
  flex: 1 0 auto;
}
.genrenav .navcontent ul {
  display: flex;
  height: 45px;
  list-style-type: none;
}
.genrenav .navcontent ul .total {
  flex: 0 0 auto;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  box-shadow: rgb(158 167 173) 0px -3px 0px inset;
}
.genrenav .navcontent ul .total span {
  padding: 15px 4px;
  color: rgb(99, 108, 115);
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
}
.genrenav .navcontent ul .nav {
  flex: 0 0 auto;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  margin-left: 10px;
}
.genrenav .navcontent ul .nav span {
  padding: 15px 4px;
  color: rgb(99, 108, 115);
  font-size: 14px;
  font-weight: normal;
  opacity: 0.7;
}
.popular {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 12px;
}
.popular label {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
}
.popular label select {
  appearance: none;
  width: 93px;
  height: 2.8em;
  padding: 7px;
  border: 1px solid rgb(209, 213, 217);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background: white;
  color: rgb(99, 108, 115);
  font-size: 12px;
  font-weight: bold;
  line-height: calc(2.8em - 14px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}
.popular label i {
  position: absolute;
  color: rgb(128, 137, 145);
  width: 10px;
  height: 6px;
  margin-left: -5px;
  margin-top: -3px;
  top: 33%;
  right: 7%;
}
.popular label select:hover {
  background: #f2f2f2;
}
.popular .checkrent {
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 6px 4px 6px 6px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  color: rgb(99, 108, 115);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}
.popular .checkrent input {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(209, 213, 217);
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  transition: background 0.2s ease 0s;
  margin-right: 6px;  
}
.bookcontent {
  display: flex;
  flex-direction: column;
}
.bookcontent .content1, .content2 {
  border-bottom: 1px solid rgb(209, 213, 217);
  display: flex;
  margin: 0 -15px;
}
.bookcontent .thumbnail {
  padding: 20px 0px 20px 15px;
  flex: 0 0 auto;
}
.bookcontent .thumbnail img {
  width: 100px;
}
.bookcontent .bookexplain {
  padding: 20px 15px;
  flex: 1 1 0%;
}
.bookcontent .bookexplain h3 {
  font-size: 16px;
  font-weight: bolder;
}
.bookcontent .bookexplain .explaincontent {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.bookcontent .bookexplain .explaincontent .exauthor {
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  color: rgb(99, 108, 115);
}
.bookcontent .bookexplain .explaincontent .stars {
  font-weight: normal;
  line-height: 1.2em;
  font-size: 13px;
  color: rgb(128, 137, 145);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;  
}
.bookcontent .bookexplain .explaincontent .stars .starwrapper {
  font-weight: bold;
  color: rgb(250, 114, 46);
  font-size: 13px; 
}
.bookcontent .bookexplain .explaincontent .stars .number {
  color: rgb(153, 153, 153);
  padding-top: 1px;
  margin: 0px 2px;
  line-height: 1em;
  font-size: 12px; 
}
.bookcontent .bookexplain .explaincontent .novel {
  display: flex;
  margin-top: 4px;
  position: relative;
  align-items: center;
  white-space: pre-wrap;
  -webkit-box-align: center;
}
.bookcontent .bookexplain .explaincontent .novel span {
  font-weight: normal;
  line-height: 1.2em;
  font-size: 13px;
  color: rgb(128, 137, 145);
  padding-top: 1px;
  padding-bottom: 1px; 
}
.bookcontent .bookexplain .bookdescription {
  margin-top: 9px;
  display: flex;
  margin: 6px 0px;
  color: rgb(102, 102, 102);
  font-size: 13px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: keep-all;
  max-height: calc(4.5em);
  line-height: 1.5em;
}
.bookcontent .bookexplain .bookprice{
  margin-top: 3px;
}
.bookcontent .bookexplain .bookprice p {
  padding: 1px 0px 5px;
  text-align: left;
  color: rgb(102, 102, 102);
  font-weight: normal;
  font-size: 13px;
}
.bookcontent .bookexplain .bookprice p span {
  color: rgb(31, 140, 230);
  font-weight: bold;
}




/* 푸터 부분 */
.newfooter {
    width: 100%;
    color: #fff;
    background-color: #303538;
  }
  
  .newfooter footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 16px;
    transition: all 0.3s;
    max-height: 700px;
    display: block;
    color: #fff;
  }
  
  footer .notice {
    display: flex;
    align-items: start;
    justify-content: unset;
  }
  
  .notice .submain {
    display: flex;
    margin-right: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .submain li a {
    text-decoration: none;
  }
  
  
  .submain li a span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -0.03em;
  }
  
  .notice .sub {
    display: flex;
    padding-top: 6px;
    margin-bottom: 48px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sub li .subnav1, .sub li .subnav2, .sub li .subnav3, .sub li .subnav4 {
    margin-right: 16px;
    position: relative;
    list-style-type: none;
  
  }
  
  .subnav1 li, .subnav2 li, .subnav3 li, .subnav4 li {
    width: 140px;
  }
  
  .subnav1 li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .subnav2 li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .subnav3 li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .subnav4 li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  
  .subnav1 li a, .subnav2 li a, .subnav3 li a, .subnav4 li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .subnav1 li a span, .subnav2 li a span, .subnav3 li a span, .subnav4 li a span {
    font-size: 14px;
    text-decoration: none;
  }
  
  .subnav1 li svg {
    height: 11px;
  }
  
  .subnav4 li svg {
    position: relative;
    top: 2px;
    margin-left: 6px;
    fill: #509deb;
    width: 14px;
    height: 14px;
  }
  
  footer .corp {
    margin-bottom: 16px;
    color: #666;
    font-size: 12px;
    line-height: 1em;
  }
  
  footer .corp .information {
    display: flex;
    position: relative;
    height: 17px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 24px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #808991;
  }
  
  .information svg {
    fill: #808991;
    font-size: 12px;
    line-height: 20px;
    transform: scale(0.5) rotate(90deg);
    margin-left: -51px;
    margin-top: 24px;
  }
  
  footer .ridicorp {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: -0.03em;
  }
  
  footer .ridicorp p {
    width: 83px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    color: #7e8992;
    margin-right: 24px;
  }
  
  footer .ridicorp ul {
    list-style-type: none;
    display: flex;
  
  }
  
  footer .ridicorp ul li a {
    width: 41px;
    height: 20px;
    font-size: 11px;
    line-height: 1.82;
    color: #7e8992;
    text-decoration: none;
  }